[Unit]
Description=SmartScope
After=network.target

[Service]
ExecStart=/home/pi/smartscope/.venv/bin/python /home/pi/smartscope/main.py
WorkingDirectory=/home/pi/smartscope
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
